body {
    background-image: url('purpleback.png');

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{ 

    font-family: 'Open Sans', sans-serif;
    font-size: 75px;
    font-weight:500;
    
    
    color: #570a3d;
}
h2{
    font-family: 'Open Sans', sans-serif;
    color: #570a3d;
    font-size:30;
    font-weight:500;
    position:relative;
    bottom:50px;
}


p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #570a3d;
}

.aboutus{
    font-size: 25px;
}

.buttonforcar{
    color:white;
    background: #570a3d;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 40px;

}

.buttonforcar:hover {
    background:#494949;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    pox-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.homebutton{
    color:white;
    background: #570a3d;
    padding: 8px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    bottom:560px

}

.homebutton:hover {
    background:#494949;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    pox-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.brandsbutton{
    color:white;
    background: #570a3d;
    padding: 7px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 70px;
    left: 5px;
}

.brandsbutton:hover {
    background:#494949;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    pox-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}

.dropdown{
    height:10vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight:500;
    width: 100%;
    margin: auto;
}

.power, .forfactor, .price, .electrictype, .safetyrating, .range{
    position: relative;
}

.power ul, .formfactor ul, .price ul, .electrictype ul, .safetyrating ul, .range ul{
    position:absolute;
    background: white;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;
}

.power li, .formfactor li, .price li, .electrictype li, .safetyrating li, .range li{

    color:black;
    text-decoration: none;
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 5px;
}

.power li:hover, .formfactor li:hover, .price li:hover, .electrictype li:hover, .safetyrating li:hover, .range li:hover{
    background-color: #b4afb3;
}

.dropdown button{

    background:none;
    border: none;
    
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}
.dropdown button:hover{
    color: purple;
}

.power button:focus + ul {
    opacity:1;
    pointer-events: all;
}

.formfactor button:focus + ul {
    opacity:1;
    pointer-events: all;
}

.price button:focus + ul {
    opacity:1;
    pointer-events: all;
}

.electrictype button:focus + ul {
    opacity:1;
    pointer-events: all;
}

.safetyrating button:focus + ul {
    opacity:1;
    pointer-events: all;
}

.range button:focus + ul {
    opacity:1;
    pointer-events: all;
}