body {background-image: url('purpleback.png');}

h1{ 

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 75px;
    
    
    color: #570a3d;
}
h2{
    font-family: Century Gothic;
    color: #570a3d;
}


p{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #570a3d;
}

.aboutus{
    font-size: 25px;
}

.buttonforcar{
    color:white;
    background: #570a3d;
    padding: 40px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 40px;

}

.buttonforcar:hover {
    background:#494949;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    pox-shadow: 5px 40px -10px rgba(0,0,0,0.57);
}